.list {
  display: flex;
  align-items: center;
  gap: var(--space-16);
}

.link {
  position: relative;
  font-size: var(--font-h-18);
  color: var(--color-header-light);

  &:hover {
    color: var(--color-text);
  }
}

.active {
  position: relative;
  color: var(--color-header);

  &::after {
    content: '';
    position: absolute;
    top: -8px;
    left: 50%;
    height: 8px;
    width: 8px;
    transform: translateX(-50%);
    background: var(--color-green);
    border-radius: var(--radius-rounded);
  }
}
