AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_APPLICATION_BUCKET=
AWS_S3_IMAGE_BUCKET=
AWS_S3_REGION=
DB_TYPE=postgres
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=intern-test
DELETE_OLD_OFFERS_SCHEDULE=0 */12 1-5 * * *
DELETE_INACTIVE_ACCOUNTS_SCHEDULE=0 */5 1-5 * * *
DOMAIN_URL=http://localhost:3000
GEOCODER_URL=
GEOCODER_TOKEN=
JWT_REFRESH_TOKEN_SECRET=a1b2c3d4e5f6g7h8i9
JWT_REFRESH_TOKEN_EXPIRATION_TIME=1d
JWT_ACCESS_TOKEN_SECRET=i9h8g7f6e5d4c3b2a1
JWT_ACCESS_TOKEN_EXPIRATION_TIME=10m
MAIL_HOST=
MAIL_PORT=
MAIL_AUTH_USER=
MAIL_AUTH_PASS=
MAIL_SENDER_ADDRESS=noreply@nestjs.com
REDIS_TYPE=single
REDIS_URL=redis://localhost:6379
REDIS_USERNAME=default
REDIS_PASSWORD=
RESET_TOKEN_EXPIRATION_TIME=3600000