.container {
  & h2 {
    text-align: center;
    font-size: var(--font-h-24);
    color: var(--color-header);
  }

  & p {
    text-align: center;
    color: var(--color-text);
  }
}

.hr {
  width: 242px;
  margin: var(--space-16) 0 var(--space-4) 0;
}
