.container {
  display: flex;
  align-items: center;
  gap: var(--space-16);

  & svg {
    width: 64px;
    height: 64px;
    fill: var(--color-green);
  }

  & h3 {
    font-size: var(--font-h-32);
    color: var(--color-header);
  }
}
