.container {
  display: flex;
  flex-direction: column;
  gap: var(--space-16);
}

.message {
  min-height: 24px;
}

.error {
  font-size: var(--font-p-14);
  color: var(--color-red);
}

.noBranches {
  min-height: 132px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--color-element-border);
  border-radius: var(--radius-4);
  font-size: var(--font-p-18);
  color: var(--color-text);
  
}
