<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <h2>Hello <%=locals.firstName %></p>
        <div>
            <p>Please click below link to activate your account.</p>
            <a href="<%=locals.domainUrl %>/activate?token=<%=locals.activationToken %>">Activate</a>
        </div>
    </section>    
</body>
</html>