.section {
  display: flex;
  flex-direction: column;
  gap: var(--space-32);
}

.form {
  max-width: 952px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--space-16);
}

.map {
  padding: var(--space-24);
  border-radius: var(--radius-8);
  box-shadow: var(--shadow-l);
  background-color: var(--color-bcg-main);
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-16);
}

.emptyList {
  width: 640px;
  margin-top: 80px;
  padding: var(--space-40);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-16);
  border-radius: var(--radius-8);
  box-shadow: var(--shadow-l);
  background-color: var(--color-bcg-main);
  font-size: var(--font-h-20);
}

.categories {
  max-width: 952px;
  width: 100%;
  padding: var(--space-24);
  border-radius: var(--radius-8);
  box-shadow: var(--shadow-l);
  background-color: var(--color-bcg-main);

  & h3 {
    display: flex;
    align-items: center;
    gap: var(--space-8);
    margin-bottom: var(--space-32);
    font-size: var(--font-h-24);
    color: var(--color-header);
  }
}
